{% extends 'base.html' %}

{% block content %}

    <center>
        <h2 style="background-color:whitesmoke;">STATISTIKA</h2>  
    </center>

    <p></p>
    <center><img src="http://3.bp.blogspot.com/-FxpWJ3_FrB4/UeoR44jX5rI/AAAAAAAABUs/a9h1yGXJOXQ/s1600/GAMBAR-STATISTIKA-MAtematika.jpg" alt="Statistika" width="900px"></center>

   <p></p>
    <p style="font-family: 'times new roman'">Statistika adalah ilmu yang mempelajari cara merencanakan, menganalisis, menginpretasi, mengumpulkan, dan mempresentasikan data. Jadi, secara keseluruhannya statistika adalah ilmu yang berkaitan dengan data. Statistika dan Statistik merupakan dua hal yang berbeda, karena statistik adalah data, sedangkan statistika adalah ilmu yang berkaitan dengan data yang bisa digunakan untuk mendeskripsikan atau menyimpulkan data.</p>
    
    <hr />
    <footer>
        <div class="font-small">&copy; 2022 UNTIRTA by Prilyani Hermansyah</div> 
    </footer>
{% endblock %}